<h1>Edit A Recipe</h1>
<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  <label for="name">Name: <%= @recipe.title %></label>
  <input type="text" name="name">
  
  
  <label for="ingredients">Content: <%= @recipe.content %></label>
  <input type="text" name="ingredients">
  
  <input type="submit" value="Submit">
  
  
</form>